* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.header {
  background-color: #15bdac;
  box-shadow: 0 0 5px;
}

.logo-img {
  max-width: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.logo-text {
  display: block;
  color: #ffffff;
  font-family: "Letter Gothic";
  font-size: 25px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 4.6px;
  padding-top: 10px;
  text-align: center;
}

.tagline {
  display: block;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  padding-bottom: 10px;
  padding-left: 2px;
  text-align: center;
}

.block-1 {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 80px;
}

.promo-text {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
  color: #000000;
  font-family: "Gabriela", serif;
  font-weight: bold;
  font-size: 27px;
  font-weight: 400;
  letter-spacing: 1.5px;
}

.shield-img {
  display: block;
  max-width: 350px;
  margin-top: 56px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}
.button-link {
  padding: 17px 24px;
  margin-top: 50px;
  margin-bottom: 80px;
  border-radius: 20px;
  background-color: #474747;
  text-decoration: none;
  color: #ffffff;
  font-family: "Exo 2", sans-serif;
}

.block-2 {
  background-color: #f3f3f3;
  padding-top: 100px;
  padding-bottom: 100px;
}

.description {
  display: block;
  font-size: 22px;
  font-family: "Exo 2", sans-serif;
  line-height: 35px;
  text-align: justify;
  margin-right: 17%;
  margin-left: 17%;
  font-weight: bold;
}

.badge-cont {
  text-align: center;
  padding-top: 60px;
}

.badge {
  max-height: 320px;
  border-radius: 15px;
}
.descr-addition {
  padding-top: 20px;
  text-align: center;
}

.block-3 {
  padding-top: 120px;
  padding-bottom: 145px;
}

.title {
  text-align: center;
  font-size: 30px;
  font-family: "Rubik", sans-serif;
}

.work-descr {
  text-align: center;
  margin-top: 5px;
  font-weight: 700;
  font-family: "Exo 2", sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
}

.work-icon {
  display: block;
  margin: auto;
  max-height: 100px;
  margin-top: 100px;
}

.block-4 {
  background-color: #f3f3f3;
  padding-top: 100px;
  padding-bottom: 100px;
}

.question,
.answer {
  padding-left: 17%;
  padding-right: 17%;
  font-size: 18px;
  line-height: 30px;
}
.question {
  font-family: "Rubik", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 10px;
}

.answer {
  padding-bottom: 50px;
  font-family: "Exo 2", sans-serif;
}

.title-q {
  padding-bottom: 50px;
}
.block-5 {
  padding-top: 100px;
  padding-bottom: 100px;
}
.buy-descr {
  text-align: center;
  font-size: 19px;
  font-family: "Rubik", sans-serif;
  display: block;
  max-width: 70%;
  line-height: 50px;
  margin: auto;
}

.buy-links {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.ozon-link {
  border-radius: 40px;
  background-color: #3578ff;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 30px 80px;
  font-family: "Exo 2", sans-serif;
  font-weight: bold;
  display: block;
  margin-bottom: 30px;
}

.wildberries-link {
  border-radius: 40px;
  background-color: #ff2a84;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Exo 2", sans-serif;
  padding: 30px 80px;
  display: block;
  font-weight: bold;
}

.bold {
  font-weight: bold;
  font-size: 23px;
}

.buy-contact {
  font-size: 25px;
  text-decoration: none;
}

.footer {
  background-color: #00a693;
  padding-bottom: 60px;
  padding-top: 60px;
  text-align: center;
}

.smith-logo {
  max-height: 70px;
  border-radius: 6px;
}

.mail,
.phone {
  display: block;
  padding-top: 20px;
  color: #fff;
  text-decoration: none;
  font-size: 25px;
  font-family: "Exo 2", sans-serif;
}

@media (max-width: 768px) {
  .shield-img {
    max-width: 200px;
  }
  .promo-text {
    font-size: 20px;
    margin-right: 7%;
    margin-left: 7%;
  }

  .description {
    text-align: left;
    font-size: 16px;
    margin-right: 5%;
    margin-left: 5%;
  }
  .block-2 {
    padding-bottom: 50px;
    padding-top: 50px;
  }

  .badge {
    max-height: 250px;
    border-radius: 50px;
  }
  .block-3 {
    padding-bottom: 50px;
    padding-top: 50px;
  }
  .title {
    font-size: 20px;
  }

  .work-icon {
    max-height: 60px;
    margin-top: 70px;
  }

  .block-4 {
    padding-bottom: 50px;
    padding-top: 50px;
  }
  .question,
  .answer {
    text-align: left;
    font-size: 16px;
    padding-left: 5%;
    padding-right: 5%;
  }
  .block-5 {
    padding-bottom: 50px;
    padding-top: 50px;
  }
  .buy-descr {
    font-size: 16px;
    max-width: 90%;
    line-height: 45px;
  }
  .buy-links {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: 25px;
    margin-left: 25px;
  }
  .ozon-link {
    padding-bottom: 15px;
    padding-top: 15px;
  }
  .buy-contact {
    font-size: 20px;
  }
  .wildberries-link {
    padding-bottom: 15px;
    padding-top: 15px;
  }
  .footer {
    padding-bottom: 40px;
    padding-top: 40px;
  }
  .smith-logo {
    max-height: 50px;
  }
  .mail,
  .phone {
    font-size: 18px;
  }
}
